[Desktop Entry]
Version=1.0
Type=Application
Exec=@BINDIR@/eric7_browser
TryExec=@BINDIR@/eric7_browser
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-mimearchive;
Icon=ericWeb
Terminal=false
Name=eric7 Web Browser
Name[de]=eric7 Web Browser
Comment=Web Browser for PyQt6 based on QtWebEngine
Comment[de]=Web Browser für PyQt6 basierend auf QtWebEngine
GenericName=Web Browser
GenericName[de]=Web Browser
Categories=Qt;X-Python;Network;WebBrowser;X-QtWebEngine;
StartupNotify=true
