[Desktop Entry]
Version=1.0
Type=Application
Exec=@BINDIR@/eric7_mpy
TryExec=@BINDIR@/eric7_mpy
MimeType=
Icon=ericMPy
Terminal=false
Name=eric7 MicroPython Devices
Name[de]=eric7 MicroPython Geräte
Comment=Control MicroPython and CircuitPython MCUs
Comment[de]=Kontrolliere MicroPython und CircuitPython MCUs
GenericName=MicroPython Devices
GenericName[de]=MicroPython Geräte
Categories=Qt;X-Python;Development;MicroPython;
StartupNotify=true
