[Desktop Entry]
Version=1.0
Type=Application
Exec=@BINDIR@/eric7_ide
TryExec=@BINDIR@/eric7_ide
MimeType=text/x-python;
Icon=eric
Terminal=false
Name=eric7 IDE
Name[de]=eric7 IDE
Comment=Integrated Development Environment for Python
Comment[de]=Integrierte Entwicklungsumgebung für Python
GenericName=IDE for Python
GenericName[de]=IDE für Python
Categories=Qt;X-Python;Development;IDE;
StartupNotify=true
